{% extends 'base.html.twig' %}

{% block title %}My Platform - Post{% endblock %}

{% block body %}
    <h2> {{ post.title }}</h2>
    <p> {{ post.description }}</p>
    {{ form_start(form) }}
        {{ form_row(form.author) }}
        {{ form_row(form.comment) }}
        <button type="submit"> Comment </button>
    {{ form_end(form) }}
    <ul>
        {% for comment in post.comments %}
            <li>
                {{ comment.comment }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
